Redirect 307 "/download/mary-install-3.6.0.pack31.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary-install-3.6.0.pack31.jar"
Redirect 307 "/download/mary-install-3.6.0.pack32.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary-install-3.6.0.pack32.jar"
Redirect 307 "/download/mary-install-3.6.0.pack28.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary-install-3.6.0.pack28.jar"
Redirect 307 "/download/mary-install-3.6.0.pack15.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary-install-3.6.0.pack15.jar"
Redirect 307 "/download/mary-install-3.6.0.pack29.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary-install-3.6.0.pack29.jar"
Redirect 307 "/download/mary-install-3.6.0.pack25.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary-install-3.6.0.pack25.jar"
Redirect 307 "/download/mary-install-3.6.0.pack27.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary-install-3.6.0.pack27.jar"
Redirect 307 "/download/mary-install-3.6.0.pack6.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary-install-3.6.0.pack6.jar"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-pavoque-styles-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-pavoque-styles-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-istc-lucia-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-istc-lucia-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-bits3-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-bits3-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-spike-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-spike-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-obadiah-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-obadiah-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-prudence-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-prudence-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-cmu-rms-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-cmu-rms-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-cmu-nk-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-cmu-nk-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-bits3-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-bits3-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-prudence-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-prudence-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-spike-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-spike-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-poppy-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-poppy-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-poppy-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-poppy-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-pavoque-neutral-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-pavoque-neutral-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-voxforge-ru-nsh-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-voxforge-ru-nsh-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-pavoque-neutral-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-pavoque-neutral-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-ot-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-ot-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-obadiah-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-dfki-obadiah-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-bits1-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-bits1-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-cmu-bdl-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/marytts/releases/download/v5.0-SNAPSHOT/voice-cmu-bdl-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/4.3.0/mary-ru-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-ru-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-dfki-pavoque-styles-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-dfki-pavoque-styles-4.3.0.zip"
Redirect 307 "/download/4.3.0/openmary-standalone-install-4.3.0.jar" "https://github.com/marytts/marytts/releases/download/v4.3.0/openmary-standalone-install-4.3.0.jar"
Redirect 307 "/download/4.3.0/mary-de-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-de-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-cmu-bdl-hsmm-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-cmu-bdl-hsmm-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-cmu-rms-hsmm-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-cmu-rms-hsmm-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-tr-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-tr-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-te-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-te-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-dfki-pavoque-neutral-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-dfki-pavoque-neutral-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-en-GB-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-en-GB-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-voxforge-ru-nsh-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-voxforge-ru-nsh-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-cmu-slt-hsmm-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-cmu-slt-hsmm-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-components.xml" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-components.xml"
Redirect 307 "/download/4.3.0/mary-en-US-4.3.0.zip" "https://github.com/marytts/marytts/releases/download/v4.3.0/mary-en-US-4.3.0.zip"
Redirect 307 "/download/5.0/marytts-builder-5.0.zip" "https://github.com/marytts/marytts/releases/download/v5.0/marytts-builder-5.0.zip"
Redirect 307 "/download/5.0/marytts-5.0.zip" "https://github.com/marytts/marytts/releases/download/v5.0/marytts-5.0.zip"
Redirect 307 "/download/voices/DFKI_MARY_software_user_agreement.html" "https://github.com/marytts/marytts/releases/download/voices/DFKI_MARY_software_user_agreement.html"
Redirect 307 "/download/voices/english-jmk-arctic-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/english-jmk-arctic-3.5.0.zip"
Redirect 307 "/download/voices/MARY_software_user_agreement.html" "https://github.com/marytts/marytts/releases/download/voices/MARY_software_user_agreement.html"
Redirect 307 "/download/voices/german-bits4-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/german-bits4-3.5.0.zip"
Redirect 307 "/download/voices/arctic-license.html" "https://github.com/marytts/marytts/releases/download/voices/arctic-license.html"
Redirect 307 "/download/voices/mbrola-de1-3.1.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-de1-3.1.0.zip"
Redirect 307 "/download/voices/german-hmm-bits4-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/german-hmm-bits4-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de7-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-de7-3.5.0.zip"
Redirect 307 "/download/voices/german-bits3-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/german-bits3-3.5.0.zip"
Redirect 307 "/download/voices/german-dfki-bundesliga-excited-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/german-dfki-bundesliga-excited-3.5.0.zip"
Redirect 307 "/download/voices/german-hmm-bits2-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/german-hmm-bits2-3.5.0.zip"
Redirect 307 "/download/voices/english-slt-arctic-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/english-slt-arctic-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-tib-nl2-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-tib-nl2-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-us3-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-us3-3.5.0.zip"
Redirect 307 "/download/voices/german-dfki-bundesliga-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/german-dfki-bundesliga-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-us2-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-us2-3.5.0.zip"
Redirect 307 "/download/voices/english-hmm-jmk-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/english-hmm-jmk-3.5.0.zip"
Redirect 307 "/download/voices/english-time-awb-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/english-time-awb-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de5-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-de5-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de3-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-de3-3.5.0.zip"
Redirect 307 "/download/voices/english-bdl-arctic-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/english-bdl-arctic-3.5.0.zip"
Redirect 307 "/download/voices/german-hmm-bits1-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/german-hmm-bits1-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-us1-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-us1-3.5.0.zip"
Redirect 307 "/download/voices/voices-list.txt" "https://github.com/marytts/marytts/releases/download/voices/voices-list.txt"
Redirect 307 "/download/voices/mbrola-de6-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-de6-3.5.0.zip"
Redirect 307 "/download/voices/german-bits1-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/german-bits1-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de2-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-de2-3.5.0.zip"
Redirect 307 "/download/voices/english-hmm-bdl-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/english-hmm-bdl-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de1-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-de1-3.5.0.zip"
Redirect 307 "/download/voices/Mbrola_software_user_agreement.html" "https://github.com/marytts/marytts/releases/download/voices/Mbrola_software_user_agreement.html"
Redirect 307 "/download/voices/english-hmm-slt-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/english-hmm-slt-3.5.0.zip"
Redirect 307 "/download/voices/german-bits2-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/german-bits2-3.5.0.zip"
Redirect 307 "/download/voices/festvox-license.html" "https://github.com/marytts/marytts/releases/download/voices/festvox-license.html"
Redirect 307 "/download/voices/mbrola-de4-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/mbrola-de4-3.5.0.zip"
Redirect 307 "/download/voices/german-hmm-bits3-3.5.0.zip" "https://github.com/marytts/marytts/releases/download/voices/german-hmm-bits3-3.5.0.zip"
Redirect 307 "/download/5.1.2/marytts-installer-5.1.2.zip" "https://github.com/marytts/marytts/releases/download/v5.1.2/marytts-installer-5.1.2.zip"
Redirect 307 "/download/5.1.2/marytts-builder-5.1.2.zip" "https://github.com/marytts/marytts/releases/download/v5.1.2/marytts-builder-5.1.2.zip"
Redirect 307 "/download/5.1.2/marytts-5.1.2.zip" "https://github.com/marytts/marytts/releases/download/v5.1.2/marytts-5.1.2.zip"
Redirect 307 "/download/4.1.0/mary-dfki-poppy-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-poppy-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-poppy-hsmm-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-poppy-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-cmu-nk-hsmm-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-cmu-nk-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-obadiah-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-obadiah-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-bits1-hsmm-4.1.0-component.xml" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-bits1-hsmm-4.1.0-component.xml"
Redirect 307 "/download/4.1.0/mary-en-GB-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-en-GB-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-spike-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-spike-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-bits1-hsmm-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-bits1-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-te-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-te-4.1.0.zip"
Redirect 307 "/download/4.1.0/openmary-standalone-install-4.1.0.jar" "https://github.com/marytts/marytts/releases/download/v4.1.0/openmary-standalone-install-4.1.0.jar"
Redirect 307 "/download/4.1.0/mary-bits3-hsmm-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-bits3-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-tr-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-tr-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-obadiah-hsmm-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-obadiah-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-ot-hsmm-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-ot-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-prudence-hsmm-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-prudence-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-components.xml" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-components.xml"
Redirect 307 "/download/4.1.0/mary-dfki-prudence-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-prudence-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-cmu-slt-hsmm-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-cmu-slt-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-spike-hsmm-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-spike-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-en-US-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-en-US-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-de-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-de-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-pavoque-neutral-hsmm-4.1.0-component.xml" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-pavoque-neutral-hsmm-4.1.0-component.xml"
Redirect 307 "/download/4.1.0/mary-dfki-pavoque-neutral-hsmm-4.1.0.zip" "https://github.com/marytts/marytts/releases/download/v4.1.0/mary-dfki-pavoque-neutral-hsmm-4.1.0.zip"
Redirect 307 "/download/4.0/openmary-standalone-install-4.0.0.jar" "https://github.com/marytts/marytts/releases/download/v4.0/openmary-standalone-install-4.0.0.jar"
Redirect 307 "/download/4.0/mary-tr-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-tr-4.0.0.zip"
Redirect 307 "/download/4.0/mary-en-US-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-en-US-4.0.0.zip"
Redirect 307 "/download/4.0/mary-mbrola-de7-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-mbrola-de7-4.0.0.zip"
Redirect 307 "/download/4.0/mary-mbrola-us1-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-mbrola-us1-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-ot-hsmm-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-dfki-ot-hsmm-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-pavoque-neutral-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-dfki-pavoque-neutral-4.0.0.zip"
Redirect 307 "/download/4.0/mary-te-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-te-4.0.0.zip"
Redirect 307 "/download/4.0/mary-en-GB-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-en-GB-4.0.0.zip"
Redirect 307 "/download/4.0/mary-mbrola-us3-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-mbrola-us3-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-poppy-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-dfki-poppy-4.0.0.zip"
Redirect 307 "/download/4.0/mary-bits3-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-bits3-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-prudence-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-dfki-prudence-4.0.0.zip"
Redirect 307 "/download/4.0/mary-cmu-slt-hsmm-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-cmu-slt-hsmm-4.0.0.zip"
Redirect 307 "/download/4.0/mary-de-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-de-4.0.0.zip"
Redirect 307 "/download/4.0/mary-mbrola-de6-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-mbrola-de6-4.0.0.zip"
Redirect 307 "/download/4.0/mary-components.xml" "https://github.com/marytts/marytts/releases/download/v4.0/mary-components.xml"
Redirect 307 "/download/4.0/mary-cmu-nk-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-cmu-nk-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-ot-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-dfki-ot-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-obadiah-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-dfki-obadiah-4.0.0.zip"
Redirect 307 "/download/4.0/mary-cmu-slt-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-cmu-slt-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-spike-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-dfki-spike-4.0.0.zip"
Redirect 307 "/download/4.0/mary-bits3-hsmm-4.0.0.zip" "https://github.com/marytts/marytts/releases/download/v4.0/mary-bits3-hsmm-4.0.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-obadiah-hsmm-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-dfki-obadiah-hsmm-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-en-US-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-en-US-4.2.0.zip"
Redirect 307 "/download/4.2.0/openmary-standalone-install-4.2.0.jar" "https://github.com/marytts/marytts/releases/download/v4.2.0/openmary-standalone-install-4.2.0.jar"
Redirect 307 "/download/4.2.0/mary-dfki-prudence-hsmm-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-dfki-prudence-hsmm-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-poppy-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-dfki-poppy-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-obadiah-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-dfki-obadiah-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-prudence-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-dfki-prudence-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-en-GB-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-en-GB-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-spike-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-dfki-spike-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-components.xml" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-components.xml"
Redirect 307 "/download/4.2.0/mary-te-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-te-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-poppy-hsmm-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-dfki-poppy-hsmm-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-de-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-de-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-spike-hsmm-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-dfki-spike-hsmm-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-cmu-slt-hsmm-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-cmu-slt-hsmm-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-tr-4.2.0.zip" "https://github.com/marytts/marytts/releases/download/v4.2.0/mary-tr-4.2.0.zip"
Redirect 307 "/download/5.1/marytts-5.1.zip" "https://github.com/marytts/marytts/releases/download/v5.1/marytts-5.1.zip"
Redirect 307 "/download/5.1/marytts-builder-5.1.zip" "https://github.com/marytts/marytts/releases/download/v5.1/marytts-builder-5.1.zip"
Redirect 307 "/download/4.3.1/openmary-standalone-install-4.3.1.jar" "https://github.com/marytts/marytts/releases/download/v4.3.1/openmary-standalone-install-4.3.1.jar"
Redirect 307 "/download/4.3.1/mary-it-4.3.1.zip" "https://github.com/marytts/marytts/releases/download/v4.3.1/mary-it-4.3.1.zip"
Redirect 307 "/download/4.3.1/mary-components.xml" "https://github.com/marytts/marytts/releases/download/v4.3.1/mary-components.xml"
Redirect 307 "/download/4.3.1/mary-istc-lucia-hsmm-4.3.1.zip" "https://github.com/marytts/marytts/releases/download/v4.3.1/mary-istc-lucia-hsmm-4.3.1.zip"
Redirect 307 "/download/5.1.1/marytts-builder-5.1.1.zip" "https://github.com/marytts/marytts/releases/download/v5.1.1/marytts-builder-5.1.1.zip"
Redirect 307 "/download/5.1.1/marytts-5.1.1.zip" "https://github.com/marytts/marytts/releases/download/v5.1.1/marytts-5.1.1.zip"
Redirect 307 "/download/4.1.1/mary-bits1-hsmm-4.1.0-component.xml" "https://github.com/marytts/marytts/releases/download/v4.1.1/mary-bits1-hsmm-4.1.0-component.xml"
Redirect 307 "/download/4.1.1/openmary-standalone-install-4.1.1.jar" "https://github.com/marytts/marytts/releases/download/v4.1.1/openmary-standalone-install-4.1.1.jar"
Redirect 307 "/download/4.1.1/mary-de-4.1.1.zip" "https://github.com/marytts/marytts/releases/download/v4.1.1/mary-de-4.1.1.zip"
Redirect 307 "/download/4.1.1/mary-components.xml" "https://github.com/marytts/marytts/releases/download/v4.1.1/mary-components.xml"
Redirect 307 "/download/4.1.1/mary-dfki-pavoque-neutral-hsmm-4.1.0-component.xml" "https://github.com/marytts/marytts/releases/download/v4.1.1/mary-dfki-pavoque-neutral-hsmm-4.1.0-component.xml"
