Redirect 307 "/download/mary-install-3.6.0.pack31.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack31.jar"
Redirect 307 "/download/mary-install-3.6.0.pack32.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack32.jar"
Redirect 307 "/download/mary-install-3.6.0.pack28.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack28.jar"
Redirect 307 "/download/mary-install-3.6.0.pack15.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack15.jar"
Redirect 307 "/download/mary-install-3.6.0.pack29.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack29.jar"
Redirect 307 "/download/mary-install-3.6.0.pack25.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack25.jar"
Redirect 307 "/download/mary-install-3.6.0.pack27.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack27.jar"
Redirect 307 "/download/mary-install-3.6.0.pack6.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack6.jar"
Redirect 307 "/download/mary-install-3.6.0.pack16.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack16.jar"
Redirect 307 "/download/mary-install-3.6.0.pack23.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack23.jar"
Redirect 307 "/download/mary-install-3.6.0.pack22.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack22.jar"
Redirect 307 "/download/mary-standalone-install-3.6.0.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_standalone_install_3.6.0.jar"
Redirect 307 "/download/mary-install-3.6.0.pack11.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack11.jar"
Redirect 307 "/download/mary-install-3.6.0.pack1.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack1.jar"
Redirect 307 "/download/mary-install-3.6.0.pack20.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack20.jar"
Redirect 307 "/download/mary-install-3.6.0.pack10.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack10.jar"
Redirect 307 "/download/mary-install-3.6.0.pack26.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack26.jar"
Redirect 307 "/download/mary-install-3.6.0.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.jar"
Redirect 307 "/download/mary-install-3.6.0.pack12.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack12.jar"
Redirect 307 "/download/mary-install-3.6.0.pack2.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack2.jar"
Redirect 307 "/download/mary-install-3.6.0.pack4.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack4.jar"
Redirect 307 "/download/mary-install-3.6.0.pack0.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack0.jar"
Redirect 307 "/download/mary-install-3.6.0.pack9.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack9.jar"
Redirect 307 "/download/mary-install-3.6.0.pack30.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack30.jar"
Redirect 307 "/download/mary-install-3.6.0.pack3.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack3.jar"
Redirect 307 "/download/mary-install-3.6.0.pack14.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack14.jar"
Redirect 307 "/download/mary-install-3.6.0.pack17.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack17.jar"
Redirect 307 "/download/mary-install-3.6.0.pack5.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack5.jar"
Redirect 307 "/download/mary-install-3.6.0.pack24.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack24.jar"
Redirect 307 "/download/mary-install-3.6.0.pack19.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack19.jar"
Redirect 307 "/download/mary-install-3.6.0.pack21.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack21.jar"
Redirect 307 "/download/mary-install-3.x.x.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.x.x.jar"
Redirect 307 "/download/mary-install-3.6.0.pack7.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack7.jar"
Redirect 307 "/download/mary-install-3.6.0.pack13.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack13.jar"
Redirect 307 "/download/mary-install-3.6.0.pack18.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack18.jar"
Redirect 307 "/download/mary-install-3.6.0.pack8.jar" "https://github.com/marytts/marytts/releases/download/v3.6.0/mary_install_3.6.0.pack8.jar"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-pavoque-styles-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-pavoque-styles/releases/download/v5.0-SNAPSHOT/voice-dfki-pavoque-styles-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-istc-lucia-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-istc-lucia-hsmm/releases/download/v5.0-SNAPSHOT/voice-istc-lucia-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-bits3-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-bits3-hsmm/releases/download/v5.0-SNAPSHOT/voice-bits3-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-spike-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-spike/releases/download/v5.0-SNAPSHOT/voice-dfki-spike-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-obadiah-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-obadiah/releases/download/v5.0-SNAPSHOT/voice-dfki-obadiah-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-prudence-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-prudence/releases/download/v5.0-SNAPSHOT/voice-dfki-prudence-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-cmu-rms-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-cmu-rms-hsmm/releases/download/v5.0-SNAPSHOT/voice-cmu-rms-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-cmu-nk-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-cmu-nk-hsmm/releases/download/v5.0-SNAPSHOT/voice-cmu-nk-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-bits3-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-bits3/releases/download/v5.0-SNAPSHOT/voice-bits3-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-prudence-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-prudence-hsmm/releases/download/v5.0-SNAPSHOT/voice-dfki-prudence-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-spike-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-spike-hsmm/releases/download/v5.0-SNAPSHOT/voice-dfki-spike-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-poppy-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-poppy/releases/download/v5.0-SNAPSHOT/voice-dfki-poppy-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-poppy-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-poppy-hsmm/releases/download/v5.0-SNAPSHOT/voice-dfki-poppy-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-pavoque-neutral-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-pavoque-neutral/releases/download/v5.0-SNAPSHOT/voice-dfki-pavoque-neutral-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-voxforge-ru-nsh-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-voxforge-ru-nsh/releases/download/v5.0-SNAPSHOT/voice-voxforge-ru-nsh-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-pavoque-neutral-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-pavoque-neutral-hsmm/releases/download/v5.0-SNAPSHOT/voice-dfki-pavoque-neutral-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-ot-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-ot-hsmm/releases/download/v5.0-SNAPSHOT/voice-dfki-ot-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-dfki-obadiah-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-dfki-obadiah-hsmm/releases/download/v5.0-SNAPSHOT/voice-dfki-obadiah-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-bits1-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-bits1-hsmm/releases/download/v5.0-SNAPSHOT/voice-bits1-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/5.0-SNAPSHOT/voice-cmu-bdl-hsmm-5.0-SNAPSHOT.zip" "https://github.com/marytts/voice-cmu-bdl-hsmm/releases/download/v5.0-SNAPSHOT/voice-cmu-bdl-hsmm-5.0-SNAPSHOT.zip"
Redirect 307 "/download/4.3.0/mary-ru-4.3.0.zip" "https://github.com/marytts/voice-ru/releases/download/v4.3.0/mary-ru-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-dfki-pavoque-styles-4.3.0.zip" "https://github.com/marytts/voice-dfki-pavoque-styles/releases/download/v4.3.0/mary-dfki-pavoque-styles-4.3.0.zip"
Redirect 307 "/download/4.3.0/openmary-standalone-install-4.3.0.jar" "https://github.com/marytts/marytts/releases/download/v4.3.0/openmary-standalone-install-4.3.0.jar"
Redirect 307 "/download/4.3.0/mary-de-4.3.0.zip" "https://github.com/marytts/voice-de/releases/download/v4.3.0/mary-de-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-cmu-bdl-hsmm-4.3.0.zip" "https://github.com/marytts/voice-cmu-bdl-hsmm/releases/download/v4.3.0/mary-cmu-bdl-hsmm-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-cmu-rms-hsmm-4.3.0.zip" "https://github.com/marytts/voice-cmu-rms-hsmm/releases/download/v4.3.0/mary-cmu-rms-hsmm-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-tr-4.3.0.zip" "https://github.com/marytts/voice-tr/releases/download/v4.3.0/mary-tr-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-te-4.3.0.zip" "https://github.com/marytts/voice-te/releases/download/v4.3.0/mary-te-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-dfki-pavoque-neutral-4.3.0.zip" "https://github.com/marytts/voice-dfki-pavoque-neutral/releases/download/v4.3.0/mary-dfki-pavoque-neutral-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-en-GB-4.3.0.zip" "https://github.com/marytts/voice-en-GB/releases/download/v4.3.0/mary-en-GB-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-voxforge-ru-nsh-4.3.0.zip" "https://github.com/marytts/voice-voxforge-ru-nsh/releases/download/v4.3.0/mary-voxforge-ru-nsh-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-cmu-slt-hsmm-4.3.0.zip" "https://github.com/marytts/voice-cmu-slt-hsmm/releases/download/v4.3.0/mary-cmu-slt-hsmm-4.3.0.zip"
Redirect 307 "/download/4.3.0/mary-en-US-4.3.0.zip" "https://github.com/marytts/voice-en-US/releases/download/v4.3.0/mary-en-US-4.3.0.zip"
Redirect 307 "/download/5.0/marytts-builder-5.0.zip" "https://github.com/marytts/marytts/releases/download/v5.0/marytts-builder-5.0.zip"
Redirect 307 "/download/5.0/marytts-5.0.zip" "https://github.com/marytts/marytts/releases/download/v5.0/marytts-5.0.zip"
Redirect 307 "/download/voices/english-jmk-arctic-3.5.0.zip" "https://github.com/marytts/english-jmk-arctic/releases/download/3.5.0/english-jmk-arctic-3.5.0.zip"
Redirect 307 "/download/voices/german-bits4-3.5.0.zip" "https://github.com/marytts/german-bits4/releases/download/3.5.0/german-bits4-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de1-3.1.0.zip" "https://github.com/marytts/mbrola-de1/releases/download/3.1.0/mbrola-de1-3.1.0.zip"
Redirect 307 "/download/voices/german-hmm-bits4-3.5.0.zip" "https://github.com/marytts/german-hmm-bits4/releases/download/3.5.0/german-hmm-bits4-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de7-3.5.0.zip" "https://github.com/marytts/mbrola-de7/releases/download/3.5.0/mbrola-de7-3.5.0.zip"
Redirect 307 "/download/voices/german-bits3-3.5.0.zip" "https://github.com/marytts/german-bits3/releases/download/3.5.0/german-bits3-3.5.0.zip"
Redirect 307 "/download/voices/german-dfki-bundesliga-excited-3.5.0.zip" "https://github.com/marytts/german-dfki-bundesliga-excited/releases/download/3.5.0/german-dfki-bundesliga-excited-3.5.0.zip"
Redirect 307 "/download/voices/german-hmm-bits2-3.5.0.zip" "https://github.com/marytts/german-hmm-bits2/releases/download/3.5.0/german-hmm-bits2-3.5.0.zip"
Redirect 307 "/download/voices/english-slt-arctic-3.5.0.zip" "https://github.com/marytts/english-slt-arctic/releases/download/3.5.0/english-slt-arctic-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-tib-nl2-3.5.0.zip" "https://github.com/marytts/mbrola-tib-nl2/releases/download/3.5.0/mbrola-tib-nl2-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-us3-3.5.0.zip" "https://github.com/marytts/mbrola-us3/releases/download/3.5.0/mbrola-us3-3.5.0.zip"
Redirect 307 "/download/voices/german-dfki-bundesliga-3.5.0.zip" "https://github.com/marytts/german-dfki-bundesliga/releases/download/3.5.0/german-dfki-bundesliga-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-us2-3.5.0.zip" "https://github.com/marytts/mbrola-us2/releases/download/3.5.0/mbrola-us2-3.5.0.zip"
Redirect 307 "/download/voices/english-hmm-jmk-3.5.0.zip" "https://github.com/marytts/english-hmm-jmk/releases/download/3.5.0/english-hmm-jmk-3.5.0.zip"
Redirect 307 "/download/voices/english-time-awb-3.5.0.zip" "https://github.com/marytts/english-time-awb/releases/download/3.5.0/english-time-awb-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de5-3.5.0.zip" "https://github.com/marytts/mbrola-de5/releases/download/3.5.0/mbrola-de5-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de3-3.5.0.zip" "https://github.com/marytts/mbrola-de3/releases/download/3.5.0/mbrola-de3-3.5.0.zip"
Redirect 307 "/download/voices/english-bdl-arctic-3.5.0.zip" "https://github.com/marytts/english-bdl-arctic/releases/download/3.5.0/english-bdl-arctic-3.5.0.zip"
Redirect 307 "/download/voices/german-hmm-bits1-3.5.0.zip" "https://github.com/marytts/german-hmm-bits1/releases/download/3.5.0/german-hmm-bits1-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-us1-3.5.0.zip" "https://github.com/marytts/mbrola-us1/releases/download/3.5.0/mbrola-us1-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de6-3.5.0.zip" "https://github.com/marytts/mbrola-de6/releases/download/3.5.0/mbrola-de6-3.5.0.zip"
Redirect 307 "/download/voices/german-bits1-3.5.0.zip" "https://github.com/marytts/german-bits1/releases/download/3.5.0/german-bits1-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de2-3.5.0.zip" "https://github.com/marytts/mbrola-de2/releases/download/3.5.0/mbrola-de2-3.5.0.zip"
Redirect 307 "/download/voices/english-hmm-bdl-3.5.0.zip" "https://github.com/marytts/english-hmm-bdl/releases/download/3.5.0/english-hmm-bdl-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de1-3.5.0.zip" "https://github.com/marytts/mbrola-de1/releases/download/3.5.0/mbrola-de1-3.5.0.zip"
Redirect 307 "/download/voices/english-hmm-slt-3.5.0.zip" "https://github.com/marytts/english-hmm-slt/releases/download/3.5.0/english-hmm-slt-3.5.0.zip"
Redirect 307 "/download/voices/german-bits2-3.5.0.zip" "https://github.com/marytts/german-bits2/releases/download/3.5.0/german-bits2-3.5.0.zip"
Redirect 307 "/download/voices/mbrola-de4-3.5.0.zip" "https://github.com/marytts/mbrola-de4/releases/download/3.5.0/mbrola-de4-3.5.0.zip"
Redirect 307 "/download/voices/german-hmm-bits3-3.5.0.zip" "https://github.com/marytts/german-hmm-bits3/releases/download/3.5.0/german-hmm-bits3-3.5.0.zip"
Redirect 307 "/download/5.1.2/marytts-installer-5.1.2.zip" "https://github.com/marytts/marytts/releases/download/v5.1.2/marytts-installer-5.1.2.zip"
Redirect 307 "/download/5.1.2/marytts-builder-5.1.2.zip" "https://github.com/marytts/marytts/releases/download/v5.1.2/marytts-builder-5.1.2.zip"
Redirect 307 "/download/5.1.2/marytts-5.1.2.zip" "https://github.com/marytts/marytts/releases/download/v5.1.2/marytts-5.1.2.zip"
Redirect 307 "/download/4.1.0/mary-dfki-poppy-4.1.0.zip" "https://github.com/marytts/voice-dfki-poppy/releases/download/v4.1.0/mary-dfki-poppy-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-poppy-hsmm-4.1.0.zip" "https://github.com/marytts/voice-dfki-poppy-hsmm/releases/download/v4.1.0/mary-dfki-poppy-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-cmu-nk-hsmm-4.1.0.zip" "https://github.com/marytts/voice-cmu-nk-hsmm/releases/download/v4.1.0/mary-cmu-nk-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-obadiah-4.1.0.zip" "https://github.com/marytts/voice-dfki-obadiah/releases/download/v4.1.0/mary-dfki-obadiah-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-en-GB-4.1.0.zip" "https://github.com/marytts/voice-en-GB/releases/download/v4.1.0/mary-en-GB-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-spike-4.1.0.zip" "https://github.com/marytts/voice-dfki-spike/releases/download/v4.1.0/mary-dfki-spike-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-bits1-hsmm-4.1.0.zip" "https://github.com/marytts/voice-bits1-hsmm/releases/download/v4.1.0/mary-bits1-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-te-4.1.0.zip" "https://github.com/marytts/voice-te/releases/download/v4.1.0/mary-te-4.1.0.zip"
Redirect 307 "/download/4.1.0/openmary-standalone-install-4.1.0.jar" "https://github.com/marytts/marytts/releases/download/v4.1.0/openmary-standalone-install-4.1.0.jar"
Redirect 307 "/download/4.1.0/mary-bits3-hsmm-4.1.0.zip" "https://github.com/marytts/voice-bits3-hsmm/releases/download/v4.1.0/mary-bits3-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-tr-4.1.0.zip" "https://github.com/marytts/voice-tr/releases/download/v4.1.0/mary-tr-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-obadiah-hsmm-4.1.0.zip" "https://github.com/marytts/voice-dfki-obadiah-hsmm/releases/download/v4.1.0/mary-dfki-obadiah-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-ot-hsmm-4.1.0.zip" "https://github.com/marytts/voice-dfki-ot-hsmm/releases/download/v4.1.0/mary-dfki-ot-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-prudence-hsmm-4.1.0.zip" "https://github.com/marytts/voice-dfki-prudence-hsmm/releases/download/v4.1.0/mary-dfki-prudence-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-prudence-4.1.0.zip" "https://github.com/marytts/voice-dfki-prudence/releases/download/v4.1.0/mary-dfki-prudence-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-cmu-slt-hsmm-4.1.0.zip" "https://github.com/marytts/voice-cmu-slt-hsmm/releases/download/v4.1.0/mary-cmu-slt-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-spike-hsmm-4.1.0.zip" "https://github.com/marytts/voice-dfki-spike-hsmm/releases/download/v4.1.0/mary-dfki-spike-hsmm-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-en-US-4.1.0.zip" "https://github.com/marytts/voice-en-US/releases/download/v4.1.0/mary-en-US-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-de-4.1.0.zip" "https://github.com/marytts/voice-de/releases/download/v4.1.0/mary-de-4.1.0.zip"
Redirect 307 "/download/4.1.0/mary-dfki-pavoque-neutral-hsmm-4.1.0.zip" "https://github.com/marytts/voice-dfki-pavoque-neutral-hsmm/releases/download/v4.1.0/mary-dfki-pavoque-neutral-hsmm-4.1.0.zip"
Redirect 307 "/download/4.0/openmary-standalone-install-4.0.0.jar" "https://github.com/marytts/marytts/releases/download/v4.0/openmary-standalone-install-4.0.0.jar"
Redirect 307 "/download/4.0/mary-tr-4.0.0.zip" "https://github.com/marytts/voice-tr/releases/download/v4.0/mary-tr-4.0.0.zip"
Redirect 307 "/download/4.0/mary-en-US-4.0.0.zip" "https://github.com/marytts/voice-en-US/releases/download/v4.0/mary-en-US-4.0.0.zip"
Redirect 307 "/download/4.0/mary-mbrola-de7-4.0.0.zip" "https://github.com/marytts/voice-mbrola-de7/releases/download/v4.0/mary-mbrola-de7-4.0.0.zip"
Redirect 307 "/download/4.0/mary-mbrola-us1-4.0.0.zip" "https://github.com/marytts/voice-mbrola-us1/releases/download/v4.0/mary-mbrola-us1-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-ot-hsmm-4.0.0.zip" "https://github.com/marytts/voice-dfki-ot-hsmm/releases/download/v4.0/mary-dfki-ot-hsmm-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-pavoque-neutral-4.0.0.zip" "https://github.com/marytts/voice-dfki-pavoque-neutral/releases/download/v4.0/mary-dfki-pavoque-neutral-4.0.0.zip"
Redirect 307 "/download/4.0/mary-te-4.0.0.zip" "https://github.com/marytts/voice-te/releases/download/v4.0/mary-te-4.0.0.zip"
Redirect 307 "/download/4.0/mary-en-GB-4.0.0.zip" "https://github.com/marytts/voice-en-GB/releases/download/v4.0/mary-en-GB-4.0.0.zip"
Redirect 307 "/download/4.0/mary-mbrola-us3-4.0.0.zip" "https://github.com/marytts/voice-mbrola-us3/releases/download/v4.0/mary-mbrola-us3-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-poppy-4.0.0.zip" "https://github.com/marytts/voice-dfki-poppy/releases/download/v4.0/mary-dfki-poppy-4.0.0.zip"
Redirect 307 "/download/4.0/mary-bits3-4.0.0.zip" "https://github.com/marytts/voice-bits3/releases/download/v4.0/mary-bits3-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-prudence-4.0.0.zip" "https://github.com/marytts/voice-dfki-prudence/releases/download/v4.0/mary-dfki-prudence-4.0.0.zip"
Redirect 307 "/download/4.0/mary-cmu-slt-hsmm-4.0.0.zip" "https://github.com/marytts/voice-cmu-slt-hsmm/releases/download/v4.0/mary-cmu-slt-hsmm-4.0.0.zip"
Redirect 307 "/download/4.0/mary-de-4.0.0.zip" "https://github.com/marytts/voice-de/releases/download/v4.0/mary-de-4.0.0.zip"
Redirect 307 "/download/4.0/mary-mbrola-de6-4.0.0.zip" "https://github.com/marytts/voice-mbrola-de6/releases/download/v4.0/mary-mbrola-de6-4.0.0.zip"
Redirect 307 "/download/4.0/mary-cmu-nk-4.0.0.zip" "https://github.com/marytts/voice-cmu-nk/releases/download/v4.0/mary-cmu-nk-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-ot-4.0.0.zip" "https://github.com/marytts/voice-dfki-ot/releases/download/v4.0/mary-dfki-ot-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-obadiah-4.0.0.zip" "https://github.com/marytts/voice-dfki-obadiah/releases/download/v4.0/mary-dfki-obadiah-4.0.0.zip"
Redirect 307 "/download/4.0/mary-cmu-slt-4.0.0.zip" "https://github.com/marytts/voice-cmu-slt/releases/download/v4.0/mary-cmu-slt-4.0.0.zip"
Redirect 307 "/download/4.0/mary-dfki-spike-4.0.0.zip" "https://github.com/marytts/voice-dfki-spike/releases/download/v4.0/mary-dfki-spike-4.0.0.zip"
Redirect 307 "/download/4.0/mary-bits3-hsmm-4.0.0.zip" "https://github.com/marytts/voice-bits3-hsmm/releases/download/v4.0/mary-bits3-hsmm-4.0.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-obadiah-hsmm-4.2.0.zip" "https://github.com/marytts/voice-dfki-obadiah-hsmm/releases/download/v4.2.0/mary-dfki-obadiah-hsmm-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-en-US-4.2.0.zip" "https://github.com/marytts/voice-en-US/releases/download/v4.2.0/mary-en-US-4.2.0.zip"
Redirect 307 "/download/4.2.0/openmary-standalone-install-4.2.0.jar" "https://github.com/marytts/marytts/releases/download/v4.2.0/openmary-standalone-install-4.2.0.jar"
Redirect 307 "/download/4.2.0/mary-dfki-prudence-hsmm-4.2.0.zip" "https://github.com/marytts/voice-dfki-prudence-hsmm/releases/download/v4.2.0/mary-dfki-prudence-hsmm-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-poppy-4.2.0.zip" "https://github.com/marytts/voice-dfki-poppy/releases/download/v4.2.0/mary-dfki-poppy-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-obadiah-4.2.0.zip" "https://github.com/marytts/voice-dfki-obadiah/releases/download/v4.2.0/mary-dfki-obadiah-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-prudence-4.2.0.zip" "https://github.com/marytts/voice-dfki-prudence/releases/download/v4.2.0/mary-dfki-prudence-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-en-GB-4.2.0.zip" "https://github.com/marytts/voice-en-GB/releases/download/v4.2.0/mary-en-GB-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-spike-4.2.0.zip" "https://github.com/marytts/voice-dfki-spike/releases/download/v4.2.0/mary-dfki-spike-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-te-4.2.0.zip" "https://github.com/marytts/voice-te/releases/download/v4.2.0/mary-te-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-poppy-hsmm-4.2.0.zip" "https://github.com/marytts/voice-dfki-poppy-hsmm/releases/download/v4.2.0/mary-dfki-poppy-hsmm-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-de-4.2.0.zip" "https://github.com/marytts/voice-de/releases/download/v4.2.0/mary-de-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-dfki-spike-hsmm-4.2.0.zip" "https://github.com/marytts/voice-dfki-spike-hsmm/releases/download/v4.2.0/mary-dfki-spike-hsmm-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-cmu-slt-hsmm-4.2.0.zip" "https://github.com/marytts/voice-cmu-slt-hsmm/releases/download/v4.2.0/mary-cmu-slt-hsmm-4.2.0.zip"
Redirect 307 "/download/4.2.0/mary-tr-4.2.0.zip" "https://github.com/marytts/voice-tr/releases/download/v4.2.0/mary-tr-4.2.0.zip"
Redirect 307 "/download/5.1/marytts-5.1.zip" "https://github.com/marytts/marytts/releases/download/v5.1/marytts-5.1.zip"
Redirect 307 "/download/5.1/marytts-builder-5.1.zip" "https://github.com/marytts/marytts/releases/download/v5.1/marytts-builder-5.1.zip"
Redirect 307 "/download/4.3.1/openmary-standalone-install-4.3.1.jar" "https://github.com/marytts/marytts/releases/download/v4.3.1/openmary-standalone-install-4.3.1.jar"
Redirect 307 "/download/4.3.1/mary-it-4.3.1.zip" "https://github.com/marytts/voice-it/releases/download/v4.3.1/mary-it-4.3.1.zip"
Redirect 307 "/download/4.3.1/mary-istc-lucia-hsmm-4.3.1.zip" "https://github.com/marytts/voice-istc-lucia-hsmm/releases/download/v4.3.1/mary-istc-lucia-hsmm-4.3.1.zip"
Redirect 307 "/download/5.1.1/marytts-builder-5.1.1.zip" "https://github.com/marytts/marytts/releases/download/v5.1.1/marytts-builder-5.1.1.zip"
Redirect 307 "/download/5.1.1/marytts-5.1.1.zip" "https://github.com/marytts/marytts/releases/download/v5.1.1/marytts-5.1.1.zip"
Redirect 307 "/download/4.1.1/openmary-standalone-install-4.1.1.jar" "https://github.com/marytts/marytts/releases/download/v4.1.1/openmary-standalone-install-4.1.1.jar"
Redirect 307 "/download/4.1.1/mary-de-4.1.1.zip" "https://github.com/marytts/voice-de/releases/download/v4.1.1/mary-de-4.1.1.zip"
